{% extends "base.html" %} {% load static %} {% block content %}
<form method="POST" class="w-100" action="{% url 'change_password' %}">
  {% csrf_token %}
  <h1 class="my-4 text-dark">เปลี่ยนรหัสผ่าน</h1>

  <div class="form-group text-dark">
    <label for="username">บัญชีผู้ใช้</label>
    <input
      type="text"
      class="form-control w-100 border rounded bg-light"
      value="{{username}}"
      name="username"
      disabled
    />
  </div>

  <div class="form-group text-dark">
    <label for="opass">รหัสผ่านเดิม *</label>
    <input
      type="password"
      class="form-control w-100 border rounded bg-light"
      value="{{opass}}"
      name="opass"
      required
    />
  </div>

  <div class="form-group text-dark">
    <label for="npass1">รหัสผ่านใหม่ *</label>
    <input
      type="password"
      class="form-control w-100 border rounded bg-light"
      value="{{npass1}}"
      name="npass1"
      required
    />
  </div>

  <div class="form-group text-dark">
    <label for="npass2">รหัสผ่านใหม่ (ยืนยัน) *</label>
    <input
      type="password"
      class="form-control w-100 border rounded bg-light"
      value="{{npass2}}"
      name="npass2"
      required
    />
  </div>
  {% if error %}
  <p class="text-error">{{error}}</p>
  {% endif %}
  <input
    type="submit"
    value="เปลี่ยนรหัสผ่าน"
    class="btn btn-warning mt-2 w-100"
  />
  <a href="{% url 'index' %}" class="btn btn-dark mt-2 w-100"
    >กลับสู่หน้าหลัก</a
  >
</form>
{% endblock %}
